.yb-mask-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 2050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color:rgba(0,0,0,0.2);
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
    transition: background-color .15s linear;
}
.yb-mask-cont{
    position:relative;
    z-index: 2060;
    box-shadow: 0 0 18px rgba(26,179,148,0.5);
    width: 96%;
    left: 2%;
    top: 200px;
}