<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <head th:include="common/meta :: meta"></head>
</head>
<body class="gray-bg">


<div class="middle-box text-center animated fadeInDown">

    <h3 class="font-bold">服务器内部错误</h3>

    <div class="error-desc">
        <p th:text="${message}" />
        <br/>您可以返回看看 <br/>
        <a href="#" onclick="goBack()" class="btn btn-primary m-t">返回</a>
    </div>
</div>
<script type="text/javascript">
    function goBack(){
        try{
            if(window.opener){
                window.close();
            }else{
                history.go(-1);
            }
        }catch(err){
        }
    }
</script>
</body>
</html>
