<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jw.hospital.order.mapper.OrderMapper">
    <select id="selectOrderCount" resultType="jw.hospital.vo.order.OrderCountVo">
        SELECT COUNT(*) AS count ,reserve_date AS reserveDate FROM order_info
        <where>
            <if test="vo.hosname!=null and vo.hosname!=''">
                and hosname like CONCAT('%',#{vo.hosname},'%')
            </if>
            <if test="vo.reserveDateBegin != null and vo.reserveDateBegin != ''">
                and reserve_date >= #{vo.reserveDateBegin}
            </if>
            <if test="vo.reserveDateEnd != null and vo.reserveDateEnd != ''">
                and reserve_date &lt;= #{vo.reserveDateEnd}
            </if>
            and is_deleted = 0
        </where>
        GROUP BY reserve_date
        ORDER BY reserve_date
    </select>
</mapper>
